*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

img{
    width: 100%;
}

header{
    height: 50px;
    background-color: #2D3C47;
}

header img{
    width: 40px;
    margin-top: 5px;
}

.container-header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container-main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    background-color: #1E2C3B;
    height: calc(100vh - 50px);
    padding-top: 40px;
    overflow: scroll;
}

main .card{
    margin: 20px;
    width: 180px;
    height: 300px;
    padding: 15px;
    background-color: #2D3C47;
    text-align: center;
    
}

h3{
    margin-top: 15px;
}

p{
    margin: 10px;
}

main .card .cover{
    width: 150px;
    height: 150px;
}

